body {
  background-color: rgb(250, 235, 230);
  font-family: 'Roboto', sans-serif;;
  color: rgb(5, 5, 5);
  line-height: 16px;
  text-align: center;
  margin: 0px;
  }

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: black;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: rgb(120, 120, 120);
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: light;
  font-size: 16px;
  color: rgb(120, 120, 120);
}

p {
  font-size: 15px;
}

a {
  color: rgb(130, 11, 62);
  text-decoration: none;
}

a:hover {
  color: rgb(170, 18, 82);
}

i {
  height: 30px;
}

input {
  padding: 5px;
  width: 200px;
}

.container {
  margin: 8px;
  padding: 24px;
}

.card-white {
  margin: 16px;
  padding: 42px;
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.card-extra-margin {
  margin-top: 80px;
}

.img-circle {
  border-radius: 50%;
}

.shaddow {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.text-left {
  text-align: left;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 8px;
}

.list-large-height > li {
  font-size: 35px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.button-dark-pink {
  margin: 5px;
  padding: 16px;
  background-color: rgb(130, 11, 62);
  border-radius: 8px;
  box-shadow: 2px 2px 5px #61341f;
  color: rgb(250, 250, 250);
  position: relative;
  float: center;
  display: inline-block;
}

.button-dark-pink:hover {
  color:rgb(250, 250, 250);
  background-color: rgb(170, 18, 82);
}

.button-small {
  padding: 10px;
  font-size: 12px;
  box-shadow: 0px 2px 5px #61341f;
  background-color: rgb(216, 114, 140);
  text-align: right
}

.divs-parallel {
  display: flex;
  justify-content: space-between;
}

.contact-form > form{
  position: relative;
  left: 48px;
}

.contact-text > p {
  width: 50%;
  text-align: left
}

#header {
  margin: 0px;
  margin-top: -8px;
  padding: 8px;
  width: 100%;
  border-radius: 0px;
  font-size: 12px;
  text-align: center;
  position: fixed;
  z-index: 1;
}

#footer {
  margin: 0px;
  margin-bottom: -8px;
  padding: 16px;
  width: 100%;
  border-radius: 0px;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 960px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
}
